<a href="https://colab.research.google.com/github/rixprakash/DS2002F24/blob/main/nuf7jw_accbasketballhw.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
! git clone https://github.com/rixprakash/DS2002F24

Cloning into 'DS2002F24'...
remote: Enumerating objects: 197, done.
remote: Counting objects: 100% (77/77), done.
remote: Compressing objects: 100% (50/50), done.
remote: Total 197 (delta 45), reused 52 (delta 27), pack-reused 120 (from 1)
Receiving objects: 100% (197/197), 16.61 MiB | 17.70 MiB/s, done.
Resolving deltas: 100% (78/78), done.

In [5]:
import pandas as pd
df = pd.read_csv('/content/DS2002F24/homework/acc_players-2324F.csv')
#need to make the first row the column headers
df.columns = df.iloc[0]
df = df[1:] #getting rid of the column header row as data
df.reset_index(drop=True, inplace=True)
df.head()

,Rk,Player,Class,Pos,School,G,MP,TRB,AST,STL,...,TOV,PF,PTS,FG%,2P%,3P%,FT%,PER,WS,BPM
0,1,Amaree Abram,SO,G,Georgia Tech,10,108,17,11,1,...,9,10,34,0.262,0.318,0.2,0.615,4.1,-0.1,-6.4
1,2,Sola Adebisi,FR,F,Florida State,7,9,1,1,0,...,1,1,2,0.5,0.5,NaN,NaN,3.5,0,-6.7
2,3,Prince Aligbe,SO,F,Boston College,35,651,119,21,15,...,30,51,164,0.435,0.522,0.147,0.62,9.4,0.9,-1.3
3,4,Abe Atiyeh,SR,G,Boston College,4,6,0,0,0,...,1,0,3,0.333,0,1,NaN,1.1,0,-8.2
4,5,Zack Austin,JR,F,Pittsburgh,33,746,137,29,32,...,13,35,216,0.417,0.563,0.295,0.737,18,2.9,7.9

In [11]:
#total points scored by all players
total_points = df['PTS'].sum()
print(f'Total points scored by all players: {total_points}')

#player who played the most minutes
most_minutes_player = df.loc[df['MP'].idxmax()]
print(f'Player with most minutes: {most_minutes_player["Player"]} with {most_minutes_player["MP"]} minutes')

#top 5 players with total rebounds
df['TRB'] = pd.to_numeric(df['TRB']) #change to be all numerical
top_rebounders = df.nlargest(5, 'TRB')
print('Top 5 players in total rebounds:')
print(top_rebounders[['Player', 'TRB']])

Total points scored by all players: 34216432165389548623841915798211970305111552957727126794714564604470118384152039616623830726339278429425322156039182276112156591472071777714823628554544125219363140250659171047859326184834609677336616463834136245101534024926103072404399304464340245820394156731629223386005142368405542332925211545137602382564552510903590292811260772341548528333135408155263795952195533547531326963748917141168434144361306365336000225442608752283458159310811810024024714351466123571969717015651154810040877
Player with most minutes: Ian Schieffelin with 989 minutes
Top 5 players in total rebounds:
0             Player  TRB
5      Armando Bacot  380
178  Ian Schieffelin  340
90   Harrison Ingram  327
44    Mohamed Diarra  311
149    Norchad Omier  309