In [1]:
import sqlite3

In [3]:
connection = sqlite3.connect('store.db')

#2. 
cursor = connection.cursor()

In [13]:
#Deletes tables if already exists. 
cursor.execute('DROP TABLE IF EXISTS Products')
cursor.execute('DROP TABLE IF EXISTS Customers')
cursor.execute('DROP TABLE IF EXISTS Orders')
cursor.execute('DROP TABLE IF EXISTS OrderDetails')
cursor.execute('DROP TABLE IF EXISTS Inventory')

# Create the products tabl

cursor.execute('''
CREATE TABLE Products (
    ProductID INTEGER PRIMARY KEY AUTOINCREMENT,
    Name VARCHAR(100) NOT NULL,
    Description TEXT,
    Price DECIMAL(5, 2) NOT NULL,
    Stock INT NOT NULL,
    Category VARCHAR(50) NOT NULL
)
''')

cursor.execute('''
CREATE TABLE Customers (
    CustomerID INTEGER PRIMARY KEY AUTOINCREMENT,
    FirstName VARCHAR(50) NOT NULL,
    LastName VARCHAR(50) NOT NULL,
    Email VARCHAR(100),
    Phone VARCHAR(20),
    Address VARCHAR(255),
    City VARCHAR(100),
    PostalCode VARCHAR(10),
    Country VARCHAR(50) NOT NULL
)
''')

cursor.execute('''
CREATE TABLE Orders (
    OrderID INTEGER PRIMARY KEY AUTOINCREMENT,
    CustomerID INT,
    OrderDate DATETIME DEFAULT CURRENT_TIMESTAMP,
    TotalAmount DECIMAL(7, 2) NOT NULL,
    Status VARCHAR(20) NOT NULL DEFAULT 'Pending',
    FOREIGN KEY (CustomerID) REFERENCES Customers(CustomerID)
)
''')

cursor.execute('''
CREATE TABLE OrderDetails (
    OrderDetailID INTEGER PRIMARY KEY AUTOINCREMENT,
    OrderID INT,
    ProductID INT,
    Quantity INT NOT NULL,
    Price DECIMAL(5, 2) NOT NULL,
    FOREIGN KEY (OrderID) REFERENCES Orders(OrderID),
    FOREIGN KEY (ProductID) REFERENCES Products(ProductID)
)
''')

cursor.execute('''
CREATE TABLE Inventory (
    InventoryID INTEGER PRIMARY KEY AUTOINCREMENT,
    ProductID INT,
    QuantityInStock INT NOT NULL,
    LastRestockDate DATE,
    FOREIGN KEY (ProductID) REFERENCES Products(ProductID)
)
''')

cursor.execute('''

''')

In [15]:
# Insert data into the Products table
cursor.execute('''
INSERT INTO Products (Name, Description, Price, Stock, Category) VALUES
('Laptop', '15-inch laptop with 8GB RAM', 999.99, 10, 'Electronics'),
('Smartphone', '5G smartphone with 128GB storage', 699.99, 25, 'Electronics'),
('Headphones', 'Noise-cancelling over-ear headphones', 199.99, 50, 'Accessories'),
('Coffee Maker', 'Automatic drip coffee maker', 89.99, 30, 'Home Appliances'),
('Book', 'Fiction novel, 300 pages', 14.99, 100, 'Books')
''')

# Insert data into the Customers table
cursor.execute('''
INSERT INTO Customers (FirstName, LastName, Email, Phone, Address, City, PostalCode, Country) VALUES
('John', 'Doe', 'john.doe@example.com', '555-1234', '123 Main St', 'New York City', '12345', 'USA'),
('Jane', 'Smith', 'jane.smith@example.com', '555-5678', '456 Oak Ave', 'New York City', '67890', 'USA'),
('Alice', 'Johnson', 'alice.johnson@example.com', '555-8765', '789 Pine Rd', 'Sometown', '54321', 'USA'),
('Bob', 'Brown', 'bob.brown@example.com', '555-4321', '321 Elm St', 'Anycity', '98765', 'USA'),
('Carol', 'Davis', 'carol.davis@example.com', '555-6543', '654 Maple Dr', 'Othercity', '65432', 'USA')
''')

# Insert data into the Orders table
cursor.execute('''
INSERT INTO Orders (CustomerID, OrderDate, TotalAmount, Status) VALUES
(1, '2023-09-01 10:00:00', 1199.97, 'Pending'),
(2, '2023-09-02 11:30:00', 699.99, 'Completed'),
(3, '2023-09-03 14:15:00', 214.98, 'Shipped'),
(4, '2023-09-04 09:45:00', 89.99, 'Processing'),
(5, '2023-09-05 13:00:00', 29.98, 'Cancelled')
''')

# Insert data into the OrderDetails table
cursor.execute('''
INSERT INTO OrderDetails (OrderID, ProductID, Quantity, Price) VALUES
(1, 1, 1, 999.99),
(1, 3, 1, 199.99),
(2, 2, 1, 699.99),
(3, 3, 1, 199.99),
(3, 5, 1, 14.99)
''')

# Insert data into the Inventory table
cursor.execute('''
INSERT INTO Inventory (ProductID, QuantityInStock, LastRestockDate) VALUES
(1, 0, '2023-08-25'),
(2, 25, '2023-08-20'),
(3, 50, '2023-08-15'),
(4, 30, '2023-08-10'),
(5, 100, '2023-08-05')
''')

In [17]:
cursor = connection.cursor()

cursor.execute('''
SELECT Name, QuantityInStock FROM Products
JOIN Inventory ON Products.ProductID = Inventory.ProductID
WHERE QuantityInStock > 0
''')
rows = cursor.fetchall()
for row in rows:
    print(row)

('Smartphone', 25)
('Headphones', 50)
('Coffee Maker', 30)
('Book', 100)

In [23]:
cursor.execute('''
SELECT FirstName, LastName, City FROM Customers
WHERE City = "New York City"
''')
rows = cursor.fetchall()
for row in rows:
    print(row)

('John', 'Doe', 'New York City')
('Jane', 'Smith', 'New York City')

In [55]:
#Display the order details, including the customer's name, product name, and the quantity ordered

cursor.execute('''
SELECT FirstName, LastName, Name, Quantity FROM Customers
    JOIN Orders ON Customers.CustomerID = Orders.CustomerID
        JOIN OrderDetails ON Orders.OrderID = OrderDetails.OrderID
            Join Products ON Products.ProductID = OrderDetails.ProductID
''')
rows = cursor.fetchall()
for row in rows:
    print(row)

('John', 'Doe', 'Laptop', 1)
('John', 'Doe', 'Headphones', 1)
('Jane', 'Smith', 'Smartphone', 1)
('Alice', 'Johnson', 'Headphones', 1)
('Alice', 'Johnson', 'Book', 1)